* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    background-color: white;
  }
}

@media (max-width: 767px) {
  .board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    background-color: white;
  }
}

.cell {
  border: 1px solid black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

button {
  font-size: 24px;
}

#reset {
  padding: 8px 16px;
}
